[submodule "skills"]
	path = skills
	url = git@github.com:anthropics/skills.git
[submodule "pi-mono"]
	path = pi-mono
	url = git@github.com:badlogic/pi-mono.git
[submodule "opencode"]
	path = opencode
	url = git@github.com:anomalyco/opencode.git
